body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
  text-align: center;
}

header {
  padding: 25px;
}

h1 {
  font-size: 40px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 15px;
  padding: 20px;
}

.card {
  background: #1e293b;
  border-radius: 12px;
  padding: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.panel {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  background: #1e293b;
  padding: 20px;
  border-radius: 12px;
  width: 300px;
}

.hidden {
  display: none;
}

button {
  margin: 5px;
  padding: 8px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

input {
  display: block;
  margin: 10px auto;
  padding: 8px;
  width: 80%;
}
