body {
  margin: 0;
  font-family: 'Orbitron', sans-serif;
  background: #000;
  color: #00ffe1;
  text-align: center;
}

/* HEADER */
h1 {
  font-size: 44px;
  text-shadow: 0 0 20px #00ffe1;
}

.sub {
  color: #00bfa6;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 25px;
  padding: 30px;
}

/* CARD */
.card {
  background: #050505;
  border: 2px solid #00ffe1;
  border-radius: 16px;
  padding: 15px;
  cursor: pointer;
  transition: 0.25s;
  box-shadow: 0 0 15px #00ffe133;
}

.card:hover {
  transform: scale(1.07);
  box-shadow: 0 0 30px #00ffe1;
}

.card img {
  width: 100%;
  border-radius: 12px;
}

.card span {
  display: block;
  margin-top: 10px;
}

/* PANEL */
.panel {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 520px;
  background: #000;
  border: 2px solid #00ffe1;
  border-radius: 16px;
  padding: 25px;
  box-shadow: 0 0 40px #00ffe155;
}

.hidden {
  display: none;
}

/* BUTTONS */
.btnRow button {
  width: 45%;
  padding: 15px;
  margin: 10px;
  background: black;
  border: 2px solid #00ffe1;
  color: #00ffe1;
  cursor: pointer;
}

.btnRow button:hover {
  background: #00ffe1;
  color: black;
}

/* INPUTS */
input {
  width: 85%;
  padding: 14px;
  margin: 10px;
  background: black;
  border: 1px solid #00ffe1;
  color: #00ffe1;
  font-family: 'Orbitron';
}

/* FORM */
#formArea input {
  width: 90%;
}

/* CLOSE */
.closeBtn {
  width: 100%;
  padding: 12px;
  border: 2px solid red;
  color: red;
  background: black;
  cursor: pointer;
}

/* ADMIN */
pre {
  text-align: left;
  width: 80%;
  margin: 20px auto;
  padding: 15px;
  border: 1px solid #00ffe1;
  background: #050505;
}
